.navigation{
    z-index: 4;
    position: absolute;
    display: inline-block;
    background-color: white;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    top: 0; 
    left: 0;
    width: 100vw;
    height: 40px;
}

img.center{
    display: block;
    left: 50%;
    position: absolute;
    z-index: 5;
}
