html, body, #app, #app>div {
  top: 0;
  left: 0;
  bottom: 0;
  margin: 0;
  overflow-y: hidden;
  overflow-x: hidden;
}
.App {
  text-align: center;
  width: 100%;
  height: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.box{
    width: 100%;
    height: 100%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 3%;
    z-index: -4;
}

.leftSideMenu{
    position: absolute;
    display: block;
    width: 2.5%;
    min-height: 100vh;
    float: left;
    background-color: white;
    z-index: 2;
}
.rightSideMenu{
    position: absolute;
    display: block;
    width: 2.5%;
    margin-left: 97.5%;
    min-height: 100vh;
    float: right;
    background-color: white;
    z-index: 2;
}
.bottomSideMenu{
    position: fixed;
    width: 100vw;
    height: 2.5vw;
    background-color: white;
    bottom: 0;
    z-index: 2;
    
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
